

<div class="vstack gap-3 position-absolute top-50 start-50 translate-middle">
  <h1 class="display-6">NET WORTH:</h1>
<h1 class="display-1">{{cash |currency : 'USD' : 'symbol' : '1.0-0' }}</h1>

  <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#LoansMenu" >
    Loan Applications
  </button>
 
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#PaymentsMenu" >
  Pending Payments
</button>
</div>


<app-loans></app-loans>
<app-payments></app-payments>

 <!--Toast container-->
 <div class="text-dark" style="position: relative; min-height: 200px;">
  <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">


      <div id="Toast_Saved" class="toast bg-success" role="alert">
        <div class="toast-header">
    
        <strong>Save Complete </strong>
        <small class="text-muted">just now</small>
      
        </div>
        <div class="toast-body">
        Game Saved Successfully!
        </div>
    </div>

    


  </div>
</div>
<!--Toast container-->

