

<div class="vstack gap-3 position-absolute top-50 start-50 translate-middle">
  <h1 class="display-6">NET WORTH:</h1>
<h1 class="display-1">{{cash |currency : 'USD' : 'symbol' : '1.0-0' }}</h1>

  <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#LoansMenu" >
    Loan Applications
  </button>
 
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#PaymentsMenu" >
  Pending Payments
</button>
</div>


<app-loans></app-loans>
<app-payments></app-payments>

